<footer class="w-100 py-4 flex-shrink-0 bg-custom">
    <div class="container py-4">
        <div class="row gy-4 gx-5 text-center">
            <div class="col-lg-4 col-md-6">
                <h5 class="h3 text-white">ITA Soccer League</h5>
                <picture>
                    <source srcset="assets/img.webp" type="image/webp">
                    <img src="assets/img.png" alt="">
                </picture>              
                <p class="small text-muted mt-1 mb-0">&copy; {{currentYear}} ITA Soccer League.&nbsp; All rights reserved.<br><a class="text-primary" href="https://itasoccer.com" target="_blank">https://itasoccer.com</a></p>
            </div>
            <div class="col-lg-4 col-md-6">
                <h5 class="h3 text-white mb-3 mt-4 mt-md-0">Contact Us</h5>
                <ul class="list-unstyled text-muted">
                    <li><a href="tel:6306393777" target="_blank">630-639-3777</a></li>
                    <li><a href="https://www.google.com/maps?client=firefox-b-d&sca_esv=557451199&output=search&q=Fair+Play+at+Compass+Arena&source=lnms&entry=mc&sa=X&ved=2ahUKEwi13vmYoeGAAxWthP0HHWhDDc4Q0pQJegQICRAB" target="_blank">625 Joliet Rd,
                        Willowbrook, IL 60527</a></li>
                </ul>
                <h5 class="h3 text-white mb-3 mt-4 mt-md-0">Follow Us</h5>
                <a href="https://instagram.com/itasoccerleague?igshid=YmMyMTA2M2Y=" target="_blank"><img src="assets/ig.png" alt="instagram logo"></a>
            </div>
            <div class="col-lg-4 col-md-6">
                <h5 class="h4 text-white mb-3 mt-4 mt-lg-0">ITA Soccer League Sponsored By</h5>
                <a href="https://greenapu.com/" target="_blank">
                    <picture>
                        <source srcset="assets/sponsor.webp" type="image/webp">
                        <img src="assets/sponsor.png" alt="sponsor logo">
                    </picture>
                </a>
            </div>
        </div>
    </div>
  </footer>