<h3>Standing Table</h3>

<table class="table table-striped">
  <thead class="bg-custom text-white">
    <tr>
      <th scope="col" class="text-center tableWidth">#</th>
      <th scope="col">Club</th>
      <th scope="col" class="text-center tableWidth">M</th>

      <th scope="col" class="displayColumns text-center tableWidth">W</th>
      <th scope="col" class="displayColumns text-center tableWidth">D</th>
      <th scope="col" class="displayColumns text-center tableWidth">L</th>

      <th scope="col" class="text-center tableWidth">Pt</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor='let tableRow of tableData; index as i'>
          <th scope="row" class="text-center">{{i+1}}</th>
          <td><img src="assets/clubImages/{{tableRow['imageUrl']}}" height="25px" width="25px" />&nbsp;<a [routerLink]="['/clubs', tableRow['name']]">{{tableRow['short']}}</a></td>
          <td class="text-center">{{tableRow['matchesWon'] + tableRow['matchesDrawn'] + tableRow['matchesLost'] | number}}</td>

          <td class="displayColumns text-center">{{tableRow['matchesWon']}}</td>
          <td class="displayColumns text-center">{{tableRow['matchesDrawn']}}</td>
          <td class="displayColumns text-center">{{tableRow['matchesLost']}}</td>

          <td class="text-center">{{tableRow['points']}}</td>
      </tr>
  </tbody>
</table>